---
interface Props {
  tokenSet: Object;
}

const { tokenSet } = Astro.props;
---

<table class="tokens-table">
  <thead>
    <th>Token Name</th>
    <th>CSS Custom Property</th>
    <th>Token Value</th>
  </thead>
  <tbody>
    {
      Object.entries(tokenSet).map((token) => (
        <tr>
          <td>{token[0]}</td>
          <td>{token[0].replace("$", "--")}</td>
          <td>{token[1].value}</td>
        </tr>
      ))
    }
  </tbody>
</table>

<style>
  .tokens-table {
    display: table !important;
    width: 100%;

    th {
      text-align: start;
    }
  }
</style>
